{% extends 'base.html' %}
{% block slogan %}
    {% if user.is_authenticated %}
        <div class="container--100">
            <h2>Zmiana hasła</h2>
{#        </div>#}
    <div class="slogan container container--70">
            <div class="slogan--item">
                  <form method="post">
                      <h1>
                    {% csrf_token %}
                        <!-- STARE HASŁO-->
                        <div class="form-group">
                            <input type="password" name="old_password" placeholder="Stare hasło" />
                        </div>
                        <!-- NOWE HASŁO-->
                        <div class="form-group">
                            <input type="password" name="new_password1" placeholder="Nowe hasło" />
                        </div>
                        <!-- NOWE HASŁO - POWTÓRZENIE -->
                        <div class="form-group">
                            <input type="password" name="new_password2" placeholder="Powtórz hasło" />
                        </div>
                          <br>
                    <button type="submit" class="btn">Zmień hasło</button>
                          </h1>
                  </form>
            </div>
        </div>
    </div>


    {% endif %}

{% endblock %}