{% extends 'base.html' %}
{% load static %}
{#<!DOCTYPE html>#}
{#<html lang="pl">#}
{#  <head>#}
{#    <meta charset="UTF-8" />#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0" />#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge" />#}
{#    <title>Document</title>#}
{#    <link rel="stylesheet" href="{% static 'css/style.css' %}" />#}
{#  </head>#}
{#  <body>#}

{#    {% if user.is_authenticated %}#}
{#    <header class="header--form-page">#}
{#      <nav class="container container--70">#}
{#        <ul class="nav--actions">#}
{##}
{#          <li class="logged-user">#}
{#            Witaj {{ user.first_name }}#}
{#            <ul class="dropdown">#}
{#              <li><a href="#">Profil</a></li>#}
{#              <li><a href="#">Ustawienia</a></li>#}
{#              <li><a href="{% url 'logout' %}">Wyloguj</a></li>#}
{#            </ul>#}
{#          </li>#}
{#        </ul>#}
{#    {% endif %}#}
{#        <ul>#}
{#          <li><a href="/" class="btn btn--without-border active">Start</a></li>#}
{#          <li><a href="/#steps" class="btn btn--without-border">O co chodzi?</a></li>#}
{#          <li><a href="/#about-us" class="btn btn--without-border">O nas</a></li>#}
{#          <li><a href="/#help" class="btn btn--without-border">Fundacje i organizacje</a></li>#}
{#          <li><a href="form.html" class="btn btn--without-border">Przekaż dary</a></li>#}
{#          <li><a href="/#contact" class="btn btn--without-border">Kontakt</a></li>#}
{#        </ul>#}
{#      </nav>#}
{#    <header class="header--form-page">#}
    {% block slogan %}
      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Oddaj rzeczy, których już nie chcesz<br />
            <span class="uppercase">potrzebującym</span>
          </h1>

          <div class="slogan--steps">
            <div class="slogan--steps-title">Wystarczą 4 proste kroki:</div>
            <ul class="slogan--steps-boxes">
              <li>
                <div><em>1</em><span>Wybierz rzeczy</span></div>
              </li>
              <li>
                <div><em>2</em><span>Spakuj je w worki</span></div>
              </li>
              <li>
                <div><em>3</em><span>Wybierz fundację</span></div>
              </li>
              <li>
                <div><em>4</em><span>Zamów kuriera</span></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
        {% endblock %}
{#    </header>#}
{% block content %}

<div class="slogan container container--70">
    <div class="slogan--item">
        <form method="post">
        {% csrf_token %}
            <div class="form-group">
                <input type="number" name="quantity" placeholder="Ilość">
            </div>

            <div class="form-group">
                {{ form.categories }}
{#                <select name="categories" placeholder="Kategoria" multiple>#}
{#                    {% for category in categories %}#}
{#                        <option value="{{ category.id }}">{{ category.name }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
            </div>

            <div class="form-group">
                {{ form.institution }}
{#                <select name="institutions" placeholder="Kategoria" multiple>#}
{#                    {% for institution in institutions %}#}
{#                        <option value="{{ institution.id }}">{{ institution.name }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#                <input type="text" name="" placeholder="">#}
            </div>

            <div class="form-group">
                <input type="text" name="address" placeholder="Adres">
            </div>

            <div class="form-group">
                <input type="text" name="phone_number" placeholder="Numer telefonu">
            </div>

            <div class="form-group">
                <input type="text" name="city" placeholder="Miasto">
            </div>

            <div class="form-group">
                <input type="text" name="zip_code" placeholder="Kod pocztowy">
            </div>

            <div class="form-group">
                <input type="text" name="pick_up_date" placeholder="Data odbioru">
            </div>

            <div class="form-group">
                <input type="text" name="pick_up_time" placeholder="Godzina odbioru">
            </div>

            <div class="form-group">
                <input type="text" name="pick_up_comment" placeholder="Komentarz do odbioru">
            </div>
{#            {{ form.as_p }}#}
            <button class="btn--small" type="submit">Pakuj!</button>
        </form>
    </div>
</div>




{#    <section class="form--steps">#}
{#      <div class="form--steps-instructions">#}
{#        <div class="form--steps-container">#}
{#          <h3>Ważne!</h3>#}
{#          <p data-step="1" class="active">#}
{#            Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy#}
{#            wiedzieć komu najlepiej je przekazać.#}
{#          </p>#}
{#          <p data-step="2">#}
{#            Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy#}
{#            wiedzieć komu najlepiej je przekazać.#}
{#          </p>#}
{#          <p data-step="3">#}
{#           Wybierz jedną, do#}
{#            której trafi Twoja przesyłka.#}
{#          </p>#}
{#          <p data-step="4">Podaj adres oraz termin odbioru rzeczy.</p>#}
{#        </div>#}
{#      </div>#}

{#      <div class="form--steps-container">#}
{#        <div class="form--steps-counter">Krok <span>1</span>/5</div>#}
{##}
{#        <form action="form-confirmation.html" method="post">#}
{#          <!-- STEP 1: class .active is switching steps -->#}
{#          <div data-step="1" class="active">#}
{##}
{#            <h3>Zaznacz co chcesz oddać:</h3>#}
{#        {% for category in categories %}#}
{#            <div class="form-group form-group--checkbox">#}
{##}
{#                    <label>#}
{#                    <input#}
{#                      type="checkbox"#}
{#                      name="{{ category.name }}"#}
{#                      value="{{ category.id }}"#}
{#                    />#}
{#                    <span class="checkbox"></span>#}
{#                    <span class="description">{{ category.name }}</span>#}
{#                  </label>#}
{##}
{#            </div>#}
{#        {% endfor %}#}
{##}
{#            <div class="form-group form-group--checkbox">#}
{#              <label>#}
{#                <input#}
{#                  type="checkbox"#}
{#                  name="categories"#}
{#                  value="clothes-useless"#}
{#                />#}
{#                <span class="checkbox"></span>#}
{#                <span class="description">ubrania, do wyrzucenia</span>#}
{#              </label>#}
{#            </div>#}
{##}
{#            <div class="form-group form-group--checkbox">#}
{#              <label>#}
{#                <input type="checkbox" name="categories" value="toys" />#}
{#                <span class="checkbox"></span>#}
{#                <span class="description">zabawki</span>#}
{#              </label>#}
{#            </div>#}
{##}
{#            <div class="form-group form-group--checkbox">#}
{#              <label>#}
{#                <input type="checkbox" name="categories" value="books" />#}
{#                <span class="checkbox"></span>#}
{#                <span class="description">książki</span>#}
{#              </label>#}
{#            </div>#}
{##}
{#            <div class="form-group form-group--checkbox">#}
{#              <label>#}
{#                <input type="checkbox" name="categories" value="other" />#}
{#                <span class="checkbox"></span>#}
{#                <span class="description">inne</span>#}
{#              </label>#}
{#            </div>#}
{##}
{#            <div class="form-group form-group--buttons">#}
{#              <button type="button" class="btn next-step">Dalej</button>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <!-- STEP 2 -->#}
{#          <div data-step="2">#}
{#            <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>#}
{##}
{#            <div class="form-group form-group--inline">#}
{#              <label>#}
{#                Liczba 60l worków:#}
{#                <input type="number" name="bags" step="1" min="1" />#}
{#              </label>#}
{#            </div>#}
{##}
{#            <div class="form-group form-group--buttons">#}
{#              <button type="button" class="btn prev-step">Wstecz</button>#}
{#              <button type="button" class="btn next-step">Dalej</button>#}
{#            </div>#}
{#          </div>#}
{##}
{##}
{##}
{#          <!-- STEP 3 -->#}
{#          <div data-step="3">#}
{#            <h3>Wybierz organizacje, której chcesz pomóc:</h3>#}
{##}
{#                {% for category in categories %}#}
{#                    <div id="pusty{{ category.id }}" dataname="pustak" hidden="" style="display: none" datavalue="0"></div>#}
{#                {% endfor %}#}
{##}
{#              {% for institution in institutions %}#}
{#                  {% if institution.categories ==  %}#}
{#                        #}
{#                  {% endif %}#}
{#                  <div class="form-group form-group--checkbox">#}
{#                      <label>#}
{#                        <input type="radio" name="organization" value="old" />#}
{#                        <span class="checkbox radio"></span>#}
{#                        <span class="description">#}
{#                          <div class="title">{{ institution.name }}</div>#}
{#                          <div class="subtitle">#}
{#                            {{ institution.description }}#}
{#                          </div>#}
{#                        </span>#}
{#                      </label>#}
{#                  </div>#}
{#              {% endfor %}#}
{##}
{#            <div class="form-group form-group--checkbox">#}
{#              <label>#}
{#                <input type="radio" name="organization" value="old" />#}
{#                <span class="checkbox radio"></span>#}
{#                <span class="description">#}
{#                  <div class="title">Fundacja “Dla dzieci"</div>#}
{#                  <div class="subtitle">#}
{#                    Cel i misja: Pomoc osobom znajdującym się w trudnej sytuacji#}
{#                    życiowej.#}
{#                  </div>#}
{#                </span>#}
{#              </label>#}
{#            </div>#}
{##}
{#            <div class="form-group form-group--buttons">#}
{#              <button type="button" class="btn prev-step">Wstecz</button>#}
{#              <button type="button" class="btn next-step">Dalej</button>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <!-- STEP 4 -->#}
{#          <div data-step="4">#}
{#              <form method="post">#}
{#            <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>#}
{##}
{#            <div class="form-section form-section--columns">#}
{#              <div class="form-section--column">#}
{#                <h4>Adres odbioru</h4>#}
{#                <div class="form-group form-group--inline">#}
{#                  <label> Ulica <input type="text" name="address" /> </label>#}
{#                </div>#}
{##}
{#                <div class="form-group form-group--inline">#}
{#                  <label> Miasto <input type="text" name="city" /> </label>#}
{#                </div>#}
{##}
{#                <div class="form-group form-group--inline">#}
{#                  <label>#}
{#                    Kod pocztowy <input type="text" name="postcode" />#}
{#                  </label>#}
{#                </div>#}
{##}
{#                <div class="form-group form-group--inline">#}
{#                  <label>#}
{#                    Numer telefonu <input type="phone" name="phone" />#}
{#                  </label>#}
{#                </div>#}
{#              </div>#}
{##}
{#              <div class="form-section--column">#}
{#                <h4>Termin odbioru</h4>#}
{#                <div class="form-group form-group--inline">#}
{#                  <label> Data <input type="date" name="data" /> </label>#}
{#                </div>#}
{##}
{#                <div class="form-group form-group--inline">#}
{#                  <label> Godzina <input type="time" name="time" /> </label>#}
{#                </div>#}
{##}
{#                <div class="form-group form-group--inline">#}
{#                  <label>#}
{#                    Uwagi dla kuriera#}
{#                    <textarea name="more_info" rows="5"></textarea>#}
{#                  </label>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="form-group form-group--buttons">#}
{#              <button type="button" class="btn prev-step">Wstecz</button>#}
{#              <button type="button" class="btn next-step">Dalej</button>#}
{#            </div>#}
{#          </form>#}
{#          </div>#}
{##}
{#          <!-- STEP 5 -->#}
{#          <div data-step="5">#}
{#            <h3>Podsumowanie Twojej darowizny</h3>#}
{##}
{#            <div class="summary">#}
{#              <div class="form-section">#}
{#                <h4>Oddajesz:</h4>#}
{#                <ul>#}
{#                  <li>#}
{#                    <span class="icon icon-bag"></span>#}
{#                    <span class="summary--text">{{ form.quantity }} worki ubrań w dobrym stanie dla dzieci</span>#}
{#                  </li>#}
{##}
{#                  <li>#}
{#                    <span class="icon icon-hand"></span>#}
{#                    <span class="summary--text">Dla {{ form.institution }}</span>#}
{#                  </li>#}
{#                </ul>#}
{#              </div>#}
{##}
{#              <div class="form-section form-section--columns">#}
{#                <div class="form-section--column">#}
{#                  <h4>Adres odbioru:</h4>#}
{#                    <h4>{{ form.address }}</h4>#}
{#                  <ul>#}
{#                    <li>Prosta 51</li>#}
{#                    <li>Warszawa</li>#}
{#                    <li>99-098</li>#}
{#                    <li>123 456 789</li>#}
{#                  </ul>#}
{#                </div>#}
{##}
{#                <div class="form-section--column">#}
{#                  <h4>Termin odbioru:</h4>#}
{#                  <ul>#}
{#                    <li>{{ form.pick_up_date }}</li>#}
{#                    <li>{{ form.pick_up_time }}</li>#}
{#                    <li>{{ form.pick_up_comment }}</li>#}
{#                  </ul>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}

{#            <div class="form-group form-group--buttons">#}
{#              <button type="button" class="btn prev-step">Wstecz</button>#}
{#              <button type="submit" class="btn">Potwierdzam</button>#}
{#            </div>#}
{#          </div>#}
{#        </form>#}
{#      </div>#}
{#    </section>#}

    <footer>
      <div class="contact">
        <h2>Skontaktuj się z nami</h2>
        <h3>Formularz kontaktowy</h3>
        <form class="form--contact">
          <div class="form-group form-group--50">
            <input type="text" name="name" placeholder="Imię" />
          </div>
          <div class="form-group form-group--50">
            <input type="text" name="surname" placeholder="Nazwisko" />
          </div>

          <div class="form-group">
            <textarea
              name="message"
              placeholder="Wiadomość"
              rows="1"
            ></textarea>
          </div>

          <button class="btn" type="submit">Wyślij</button>
        </form>
      </div>
      <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2018</span>
        <div class="bottom-line--icons">
          <a href="#" class="btn btn--small"
            ><img src="{% static 'images/icon-facebook.svg' %}"
          /></a>
          <a href="#" class="btn btn--small"
            ><img src="{% static 'images/icon-instagram.svg' %}"
          /></a>
        </div>
      </div>
    </footer>
    <script src={% static 'js/app.js' %}></script>
{% endblock %}

{#  </body>#}
{#</html>#}
