{% extends 'base.html' %}

{% block slogan %}
    {% if user.is_authenticated %}
        <div class="container--90">
            <h2>Twoje dane:</h2>
            <h2>Imię: {{ user.first_name }}</h2>
            <h2>Nazwisko: {{ user.last_name }}</h2>
            <h2>Email: {{ user.username }}</h2>
        </div>

        <div class="container--90">
            <h2>TWOJE DARY:</h2>
            {% for donation in donations %}
                <ul>
                    <li>Dla: {{ donation.institution }}</li>
                    <li>W środku:
                        {% for category in donation.categories.all %}
                            {{ category }},
                        {% endfor %}
                    </li>
                    <li>Ilość worków: {{ donation.quantity }}</li>
                    <li>Czy odebrane:
                        {% if donation.is_taken %}
                            TAK
                        {% else %}
                            NIE
                        {% endif %}
                    </li>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn" type="submit">Archiwizuj</button>
                </form>

                </ul>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
